@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-custom-gradient {
  background-color: white; /* The color below 1000px */
  background-image: linear-gradient(to bottom, #cfdce1, #f2f7fa 1200px);
  background-repeat: no-repeat; /* Prevents the gradient from tiling */
}

:root {
  --background: #cfdce1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cfdce1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* width: 978px; */
  height: 78px;
  align-self: center;
}

@font-face {
  font-family: "Adoha";
  src: url("/fonts/Adoha-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Create a helper class to easily apply the font */
.font-adoha {
  font-family: "Adoha", sans-serif;
}
.font-urbane {
  font-family: "Urbane", sans-serif;
}
