@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
    --neutral-900: rgb(23, 23, 23, 0.98);
    --slate-800: rgb(30, 41, 59);
    --slate-700: rgb(51, 65, 85);
    --slate-500: rgb(100, 116, 139);
    --slate-400: rgb(148, 163, 184);
    --slate-300: rgb(203, 213, 225);
    --slate-200: rgb(234, 236, 243);
    --red-500: rgb(253, 56, 45);
    --red-opacity: rgba(251, 8, 0, 0.5);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--slate-200);
    font-family: "Poppins", serif;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 60px;
    padding: 16px;
}
.clock {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    border: 10px solid rgba(86, 86, 86, 0.045);
    box-shadow: 6px 6px 27px rgba(166, 180, 200, 0.8),
                -6px -6px 27px rgb(255, 255, 255),
                inset 20px 20px 12px rgba(166, 180, 200, 0.3),
                inset 11px 11px 54px rgba(166, 180, 200, 0.8),
                inset -11px -11px 20px rgb(255, 255, 255);
                overflow: hidden;
}
.shape-line {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 100%;
    transform: rotate(calc(var(--deg)*1deg));
}
.shape-line::before {
    content: "";
    display: block;
    width: 3px;
    height: 14px;
    margin: auto;
    background-color: var(--slate-400);
    border-radius: 10px;
}
.text {
    display: block;
    position: absolute;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    width: max-content;
    height: max-content;
    color: var(--slate-700);
}
.text-1 {
    right: 22px;
    top: 0;
    bottom: 0;
}
.text-2 {
    bottom: 16px;
    left: 0;
    right: 0;
}
.text-3 {
    left: 22px;
    bottom: 0;
    top: 0;
}
.text-4 {
    top: 16px;
    left: 0;
    right: 0;
}
.circle {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    inset: 0;
    z-index: 1;
    margin: auto;
    background-color: var(--red-500);
    border-radius: 100%;
    border: 5px solid var(--slate-700);
}
.needle {
    display: block;
    background-color: var(--slate-700);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    border-radius: 10px;
}
.needle.hours {
    width: 5px;
    height: 64px;
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
    width: 5px;
    height: 84px;
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.second {
    width: 3px;
    height: 104px;
    background-color: var(--red-500);
    box-shadow: 1px 0 6px 1px var(--red-opacity);
    transform: translate(-50%, -100%) rotate(0deg);
}
.needle.second::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: var(--red-500);
    bottom: -30px;
    border-radius: 10px;
    box-shadow: 1px 0 6px 1px var(--red-opacity);
}
.time {
    position: relative;
    font-weight: 500;
    font-size: 5rem;
    color: var(--slate-800);
}
.time span {
    font-size: 16px;
    position: absolute;
    top: -8px;
    right: -24px;
    color: var(--slate-500);
}
.date {
    text-align: center;
    color: var(--slate-500);
}
.loader {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--slate-200);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.loader.hide {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}

/* Media Query */ 
@media only screen and (max-width: 768px) {
    .clock {
        width: 280px;
        height: 280px;
    }
    .needle.hours {
        height: 54px;
    }
    .needle.minute {
        height: 70px;
    }
    .needle.second {
        height: 86px;
    }
}
@media only screen and (max-width: 340px) {
    .clock {
        width: 260px;
        height: 260px;
    }
    .needle.hours {
        height: 48px;
    }
    .needle.minute {
        height: 62px;
    }
    .needle.second {
        height: 76px;
    }
    .time {
        font-size: 4rem;
    }
    .time span {
        font-size: 14px;
    }
    .date {
        font-size: 15px;
    }
}
